*.java
!build/JsonSample.java
*.class
*.test
*.diff
*.log
*-gen.out
*.cmi
*.cmo
parser.ml
parser.mli
qlc
scanner.ml
compiler/parser.conflicts
.DS_Store
tests/bikedata.json
bikedata.json
tests/coursedata.json
coursedata.json
